<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarlosTweets.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
				<key>dateExpires</key>
				<string>09-05-21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Simple_Networking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15C54BE37398FB8D7998025A126A0C3E91BC6140</string>
						<key>dateExpires</key>
						<string>09-05-21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HN3NYZH77</string>
						<key>name</key>
						<string>Carlos Alberto Petit Quintero</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5HN3NYZH77.com.offcarlospetit.CarlosTweets</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5HN3NYZH77</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5HN3NYZH77.com.offcarlospetit.CarlosTweets</string>
				</array>
			</dict>
			<key>name</key>
			<string>CarlosTweets.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b08e1c4e-ddc5-4a14-8530-735afa8b9050</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5HN3NYZH77</string>
				<key>name</key>
				<string>Carlos Alberto Petit Quintero</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
